<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrackWriting</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='writing.css') }}">
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top container">
      <a class="navbar-brand" href="#">TrackWriting</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="topNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" id="reload-file" role="button" href="#">Reload <span class="fas fa-igloo"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link <span class="fas fa-dice-d20"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link 3</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="card-deck" id="main-deck" style="margin-top:80px">
      <!-- <div class="spinner-grow text-success mx-auto" id="spinner-loading"></div> -->
      <!-- templates for card deck elements -->

      <!-- the work card -->
      <template id="card-template">
        <div class="card mb-4 card-limited">
          <div class="card-header bg-success limited-title">
            <span id="work-title"></span>
           </div>
          <div class="card-body pt-2 pb-0">
            <table class="table table-sm table-borderless mb-3">
              <tbody>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="world-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="world"></span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="series-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="series"></span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="genre-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="genre"></span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="form-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="form"></span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="status-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="status"></span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"><small class="text-muted" id="count-prompt"></small></td>
                  <td class="col-8 p-0"><span class="card-text" id="count"></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </template>

      <!-- breakpoints that must be inserted every 2,3,4 and 5 cards -->
      <template id="card-sep-2">
        <div class="w-100 d-none d-sm-block d-md-none"></div>
      </template>
      <template  id="card-sep-3">
        <div class="w-100 d-none d-md-block d-lg-none"></div>
      </template>
      <template  id="card-sep-4">
        <div class="w-100 d-none d-lg-block d-xl-none"></div>
      </template>
      <template id="card-sep-5">
        <div class="w-100 d-none d-xl-block"></div>
      </template>

    </div>
  </div>


<!-- Load the js libraries. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- Load the application.  -->
  <script src="{{ url_for('static', filename='events.js') }}"></script>
  <script src="{{ url_for('static', filename='adapter.js') }}"></script>
  <script src="{{ url_for('static', filename='view.js') }}"></script>
<!-- Kick everything off by instantiating the card view.  -->
  <script type="text/javascript">
    $(document).ready(function() {var cardView = new writing.CardsView($('#main-deck'))});
  </script>  <!--  -->
</body>
</html>