<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TrackWriting</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='writing.css') }}">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm bg-light navbar-light fixed-top container">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </nav>
    <div class="card-deck" style="margin-top:80px">
      {% for w in works %}
        <div class="card mb-4 card-limited">
          <img class="card-img-top img-fluid" src="{{ url_for('static', filename='inactive-strip.png') }}" alt="strip">
          <div class="card-body">
            <h5>{{ w.work }}</h5>
            <table class="table table-sm table-borderless">
              <tbody>
                <tr>
                  <td class="col-4 p-0"> <small class="text-muted">World</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.world }}</span></td>
                </tr>
                <tr style="border:0">
                  <td class="col-4 p-0"> <small class="text-muted">Series</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.series }}</span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"> <small class="text-muted">Genre</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.genre }}</span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"> <small class="text-muted">Type</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.type }}</span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"> <small class="text-muted">Status</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.status }}</span></td>
                </tr>
                <tr>
                  <td class="col-4 p-0"> <small class="text-muted">Count</small> </td>
                  <td class="col-8 p-0"> <span class="card-text">{{ w.count }}</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- add row breaks depending on screen size, from 2 to 5-card rows -->
        {% if loop.index % 2 == 0 %}
          <div class="w-100 d-none d-sm-block d-md-none"></div>
        {% endif %}
        {% if loop.index % 3 == 0 %}
          <div class="w-100 d-none d-md-block d-lg-none"></div>
        {% endif %}
        {% if loop.index % 4 == 0 %}
          <div class="w-100 d-none d-lg-block d-xl-none"></div>
        {% endif %}
        {% if loop.index % 5 == 0 %}
          <div class="w-100 d-none d-xl-block"></div>
        {% endif %}
      {% endfor %}
    </div>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='writing.js') }}"></script>
</body>
</html>