.reduced {
  font-size: 70%;
  font-weight: 400;
}

.work-name {
  height: 60px;
  overflow: hidden;
}

.tw-circle-menu {
    height: 60px;
    width: 60px;
    corner-radius: 50%;
}

@media (min-width: 576px) {
  .card-limited {
    max-width: calc(50% - 30px)
  }
}

@media (min-width: 768px) {
  .tw-card {
    max-width: calc(33% - 30px)
  }
}

@media (min-width: 992px) {
  .tw-card {
    max-width: calc(25% - 30px)
  }
}

@media (min-width: 1200px) {
  .tw-card {
    max-width: calc(20% - 30px)
  }
}
